/* Large desktop: Web and iPad landscape*/
@media (min-width: 1000px) { 
  
  .jumbotron h1 {
    font-size: 60px;
  }
  
  .jumbotron .lead {
    font-size: 22px;
  }
}

/* Portrait tablet to landscape and desktop: iPad portrait*/
@media (min-width: 768px) and (max-width: 1000px) {
  
    .jumbotron h1 {
    font-size: 46px;
  }
  
  .jumbotron .lead {
    font-size: 17px;
  }

}

/* Landscape phone to portrait tablet: iPhone landscape */
@media (max-width: 767px) {       /* Custom container */
    .jumbotron h1 {
    font-size: 60px;
  }
  
  .jumbotron .lead {
    font-size: 22px;
  }

}

/* Landscape phones and down: iPhone portrait */
@media (max-width: 480px) {  


    .jumbotron h1 {
    font-size: 34px;
  }
  
  .jumbotron .lead {
    font-size: 13px;
  }
}

.float_fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  text-align: center;
}

body {
  background-color: #eee;
  /*font-family: "proxima nova light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
  font-size: 16px;
}

.jumbotron h1 {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1;
}

.jumbotron .lead {
  line-height: 1.25;
}
/* Custom container */
.container {
  margin: 0;
  padding: 0;
  width: 100% !important;
  background-color: #eee;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  padding:0 10%;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

.container hr {
  border-color: #ddd;
  margin: 0;
}

.projects-list {
  margin-top: 30px;
}

.project-list-hover{
  background-color: #fff;
  border: solid 2px #ddd;
  border-radius: 4px;
  text-align: center;
/*  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

.project-list-hover:hover{
  /*border-radius: 10px 10px 10px 10px;*/
  box-shadow: 3px 3px 6px #ccc;
}

.project-list-hover p, h4{
  margin-left:10px;
  margin-right:5px;
  text-align: left;
}

.project-list-hover a{
  text-decoration: none;
  color: #333;
}

.project-list-hover img{
  max-height: 250px;
  width:94%;
  padding-top:8px;
  padding-bottom:5px;
}

.text-justify{
  text-align: justify;
}



.title-text {
  color: #333;
  /*font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  letter-spacing: -.07em;
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
  line-height: 1;
}

.section-text {
  color: #333;
  /*font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  letter-spacing: -.07em;
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 30px;
}

a:hover {
  text-decoration:none;
}

.social-icon {
  width:80px;
  padding-right:8px;
}

#Grid:after{
  content: '';
  display: inline-block;
  width: 100%;
}

#Grid .mix{
  display: none;
  opacity: 0;
  vertical-align: top;
  margin-bottom: 20px;

}
#Grid .gap{
  display: inline-block;
}

.controls{
  display: inline-block;
}

.controls li{
  color: #333;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 6px;
  line-height: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  border: solid 1px #eee;
}

.controls li.active{
  color: #ffffff;
  background-color: #666;
  border: solid 1px #666;
}

.controls li:hover{
  color: #333;
  background-color: #ccc;
  border: solid 1px #ccc;
}

.skills{
  color: #333;
  font-size: 18px;
}

.row-fluid .socials > li {
  display: inline-block;
  margin-left: 0px;
  margin-right: 15px;
}

.wrapper{
  padding: 0 10%;
}

.masthead {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 66px;
  top:0;
}

.masthead_project {
  position: relative;
}

.masthead_name a{
  position: absolute;
  color: white;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  top:20px;
  left: 10%;
}

.masthead_name a:hover{
  color:#ccc;
}

.masthead_back a{
  position: absolute;
  color: white;
  top:24px;
  left: 10%;
}

.masthead_back a:hover{
  color:#ccc;
}

#nav{
  list-style: none;
  clear: both;
  float: right;
  padding-right: 13%;
  margin-top: 20px;
}

#nav li {
  float: left;
  padding: 0 20px;
}

#nav a {
    color: #fff;
}

#nav li >a:hover {
  background-color: transparent;
  color: #999;
}

#main {
  padding-top: 66px;
}

.white-bg {
  background-color: #fff;
}

.wrapper ul {
  margin-bottom: 0;
}

.footer {
  padding: 30px 0;
}


/*
  project detail page
*/
.project_detail #project_content_nav {
  width: 100%;
  background-color: #eeeeee;
  height: 40px;
  text-align: center;
}

.project_detail #project_content_nav a {
  color: #999999;
}

.project_detail #project_content_nav ul {
  list-style: none;
  float: right;
  color: #999999;
  padding-right: 10%;
  margin: 10px 0;
}

.project_detail #project_content_nav ul li {
  float: left;  
}

.project_detail #project_content_nav ul li a {
  padding: 0 10px;

}

.project_detail #project_content_nav ul li a:hover {
  color: #333;
}

.project_detail #project_content_nav .left {
  float: left;
  padding-left: 10%;
  display: block;
  margin: 10px 0;
}

.project_detail .jumbotron {
  margin:30px 0;
}

.project_detail img {
  margin: 0 0 15px 0;
}
/*
  end of project detail page
*/








