/* Large desktop: Web and iPad landscape*/
@media (min-width: 1000px) { 

  .jumbotron h1 {
    width: 540px;
    font-size: 40px;
  }

  .jumbotron p {
    width: 540px;
  }

  #copy-right {
  text-align: left;
}

#social-icon {
  text-align: right;
}

}

/* Portrait tablet to landscape and desktop: iPad portrait*/
@media (min-width: 768px) and (max-width: 1000px) {

  .jumbotron h1 {
    width: 540px;
    font-size: 40px;
  }

  .jumbotron p {
    width: 540px;
  }

  #copy-right {
  text-align: left;
}

#social-icon {
  text-align: right;
}

}

/* Landscape phone to portrait tablet: iPhone landscape */
@media (max-width: 767px) {       /* Custom container */

  .jumbotron h1 {
    width: 95%;
    font-size: 36px;
  }

  .jumbotron p {
    width: 95%;
  }

  #copy-right {
  text-align: center;
}

#social-icon {
  text-align: center;
}

}

/* Landscape phones and down: iPhone portrait */
@media (max-width: 480px) {  

  .jumbotron h1 {
    width: 95%;
    font-size: 36px;
  }

  .jumbotron p {
    width: 95%;
  }

  #copy-right {
  text-align: center;
}

#social-icon {
  text-align: center;
}

}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #333;
}

.navbar-inverse {
  background-color: #F9423A; /*primary color*/
  border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #D0021B; /* darker color */
}

.navbar-inverse .navbar-nav>li>a {
  color: #eee;
  font-size: 10px;
  font-weight: bold;
}

.navbar-inverse .navbar-toggle {
  border: none;
  background-color: #F9423A;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #D0021B;
}

#about {
  background: url(../images/cover_pic_2.png) no-repeat center top;
  background-size: cover;
  background-position: center top;
  padding: 100px 0 100px 0;
  text-align: center;
  background-attachment: fixed;
}

.jumbotron .h1, .jumbotron h1 {
  font-weight: bold;
  margin: auto;
  text-align: left;
  padding: 50px 0 50px 0;
}

.jumbotron p {
  font-size: 18px;
  font-weight: normal;
  margin: auto;
  text-align: left;
  padding-bottom: 80px;
}

.btn-primary {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-size: 14px;
  background: #F9423A;
  border: none;
  padding: 15px 50px 15px 50px;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  background: #D0021B;
  border: none;
}

.btn-primary:hover{
  background: #D0021B;
  border: none;
}

.btn-primary.focus, .btn-primary:focus{
  background: #D0021B;
  border: none;
}

.project-list-hover{
/*  background-color: #fff;
  border: solid 2px #ddd;
  border-radius: 4px;*/
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
/*  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

.project-list-hover:hover{
  /*border-radius: 10px 10px 10px 10px;*/
/*  box-shadow: 3px 3px 6px #ccc;*/
}

.project-list-hover p, h4{
  margin-left:10px;
  margin-right:5px;
  text-align: left;
}

.project-list-hover a{
  text-decoration: none;
  color: #333;
}

/*.project-list-hover img{
  width:94%;
  padding-top:8px;
  padding-bottom:5px;
}*/

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.project-list-controls{
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}

.project-list-controls ul{
  display: inline-block;
  margin: 20px 0 20px 0;
}

.project-list-controls li{
  color: #fb8983; /*lighter color*/
  padding:10px 20px 10px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #eee;
  margin: 5px;
}

.project-list-controls li.active{
  color: #F9423A;
  background-color: #fff;
  border: solid 1px #F9423A;
}

.project-list-controls li:hover{
  color: #fff;
  background-color: #F9423A;
  border: solid 1px #F9423A;
}

#project-list-container .mix{
  display: none;
}

#portfolio, #skills{
  padding:20px 0 50px 0;
}

#blog {
  text-align: center;
  padding:100px 0 100px 0;
}

.hannahcdesign-grey-bg {
  background-color: #eee;
}

.skill-list p {
  font-weight: normal;
  font-size: 11px;
  color: #9B9B9B;
  padding-top: 10px;
}

.skill-list img {
  padding: 50px 5% 0 5%;
}

footer {
  background-color: #f0e9db;
  color: #aaa;
  padding: 40px 0 30px 0;
  vertical-align: middle;
}

#social-icon img{
  margin: 0 2px 0 2px;
  width: 25px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #F9423A;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 50px 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #fff;
  opacity: 0;
  padding-top: 20px;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.title-text {
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0;
}

.lead {
  font-size: 18px;
  font-weight: normal;
  padding: 10px 0;
}

.section-text {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.project-details {
  padding: 80px 0 30px 0;
}

.project-details img{
  width: 100%;
}

#project-content-nav {
  width: 100%;
  background-color: #eeeeee;
  height: 40px;
  text-align: center;
  z-index: 1;
}

#project-content-nav a {
  color: #999999;
}

#project-content-nav ul {
  list-style: none;
  float: right;
  color: #999999;
  margin: 10px 0;
}

#project-content-nav ul li {
  float: left;  
}

#project-content-nav ul li a {
  padding: 0 10px;

}

#project-content-nav ul li a:hover {
  color: #333;
}

#project-content-nav .left {
  float: left;
  display: block;
  margin: 10px 0;
}